{% extends "base.html" %}

{% block title %}
Product Description
{% endblock %}

{% block content %}
<div class=" product-page-container">
    <div class="container">
        <div class="page-details">
            <div class="product-img">
                <img src="{{ url_for('static', filename=product.images[0].image_url) }}" alt="{{ product.name }}"
                    class="card-img">
            </div>
            <div>
                <h1>{{ product.name }}</h1>
                <p>Price: ${{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer_container container">
        <p class="">All Right Reserved.</p>
        <p class="">© Copyright - Paprii.com</p>
    </div>
</footer>
{% endblock %}